<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Include Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <div class="section">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Authors</h1>
            <a href="/web/add-author" class="waves-effect waves-light btn">Add Author</a>
        </div>
    </div>
    <h3 th:if="${message}" th:text="${message}"></h3>
    <table class="highlight">
        <thead>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Books</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.fullName}"></td>
            <td>
                <ul th:each="book : ${author.books}">
                    <li th:text="${book.title}"></li>
                </ul>
            </td>
            <td>
                <a class="waves-effect waves-light btn-small" th:href="@{/web/author/delete/{id}(id=${author.id})}">Delete</a>
                <a class="waves-effect waves-light btn-small" th:href="@{/web/author/edit/{id}(id=${author.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Include Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>