<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
    <!-- Include Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <div class="section">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Books</h1>
            <a href="/web/add-book" class="waves-effect waves-light btn">Add Book</a>
        </div>
    </div>

    <h3 th:if="${message}" th:text="${message}"></h3>
    <table class="highlight">
        <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author.fullName}"></td>
            <td>
                <a class="waves-effect waves-light btn-small" th:href="@{/web/book/delete/{id}(id=${book.id})}">Delete</a>
                <a class="waves-effect waves-light btn-small" th:href="@{/web/book/edit/{id}(id=${book.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Include Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>